HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
Bank.iml
application.log
log4j2.xml
mvnw
mvnw.cmd
Procfile
.mvn/wrapper
.github/workflows
/logs/
.gitignore
.giattributes
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.gz

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/logs/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
